<html>
  <head>
  </head>

  <body>
    <div class="wrapper d-flex flex-column justify-content-center align-items-center">
      <div class="card my-3 w-50 p-3 bg-secondary bg-opacity-25 d-flex flex-column justify-content-center align-items-center">
        <h1>Result</h1>
        <p><%= @message %></p>
        <button class="btn btn-primary"><%= link_to "Play Again", new_path %></button>
      </div>
    </div>
  </body>
</html>
